body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700;
    color: #153D8A;
}

.inci-color{
    color: #153D8A;
    font-weight: 600;
}

.bg-primary {
    background-color: #153D8A !important;
}

.card-filter {
    border: 1px solid #153D8A;
}



.card-filter:hover {
    background-color:#a8c4fa;
}

.skip-cont {
    background-color: #153D8A;
    position: absolute;
}

.skip-link {
    font-size: 0;
}

.skip-link:focus {
    font-size: 18px;
    color: white;
    padding: 10px;
}

.card-filter h2 {
    font-size: 20px;
    text-align: center;
    color: #153D8A;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 50px;
    box-sizing: border-box;
}

input[type=text]:focus {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #153D8A;
    border-radius: 50px;
    box-sizing: border-box;
}

.icon-search {
    border: 1px solid red;
    width: 25px;
    position: relative;
    top: -45px;
    right: 10px;
}

